.categorys {
  margin: 15px auto;
  padding: 15px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

}
.categorysBox {

}
.categorysLink {
  color: rgb(8, 8, 8);
  font-size: large;
  font-weight: bold;
}

@media (max-width: 1124px) {
.categorys{
  width: 80%;
  gap: 5px;
  margin: 2px auto;
}


}

@media (max-width: 1055px){
  .categorys{
width: 100%;

  }
  .categorysLink{
    width: 80%;
   margin: 0 10px;
  }
}


@media (max-width: 910px){
  
.categorys {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
.categorysLink {
 
  font-size: small;
  width:auto;
}
}


