.detailBox{
    margin: 2% 2%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: 10px;
    height: 80vh;   
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

}

.detailInfoBox{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border: 3px solid rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    
}

.detailInfoBox>div{
    border-radius: 10px;
    width: 100%;
    margin: 5px;
    background-color: white;
    color: #000;
    font-weight: bold;
    
}